# Backend
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/**/*.pyc
backend/instance/
backend/logs/
backend/celerybeat-schedule
backend/celerybeat.pid

# Frontend
frontend/node_modules/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.eslintcache

# General
.cursorignore